$bgColor: #282c34;
$primaryColor: #ffffff;
$secondaryColor: #61dafb;

$font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;